.header {
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
  position: sticky;
  top: 0;
  z-index: 100;
  line-height: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: var(--brand-700);
  position: relative;
  display: none;
}

.logo .text {
  position: absolute;
  top: 20;
}
.welcome {
  color: var(--brand-700);
  font-size: 1.5rem;
  font-weight: 600;
}
.welcome span {
  font-weight: 400;
}

.userSection {
  display: flex;
  align-items: center;
  gap: 16px;
}
.guest {
  color: var(--brand-700);
  display: block;
}

.userEmail {
  font-size: 14px;
  color: #6b7280;
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  .logo {
    display: block;
  }
  .welcome {
    display: none;
  }
}

@media (max-width: 550px) {
  .guest {
    display: none;
  }
  .userEmail {
    display: none;
  }
}
