.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.2s ease;
  cursor: pointer;
  border: none;
  font-family: var(--font-maven);
  font-weight: 500;
  outline: none;
}

.button:focus {
  box-shadow: 0 0 0 2px var(--brand-900);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Variants */
.default {
  background-color: var(--brand-300);
  color: white;
}

.login {
  background-color: #b04d87;
  color: white;
}

.default:hover:not(:disabled) {
  background-color: var(--brand-700);
}

.outline {
  border: 1px solid var(--brand-300);
  background-color: white;
  color: var(--brand-900);
  transition: all 0.2s ease-in-out;
}

.outline:hover {
  background-color: var(--brand-300);
}

.ghost {
  background-color: transparent;
  color: #6b7280;
}

.ghost:hover:not(:disabled) {
  background-color: #f3f4f6;
}

.destructive {
  background-color: #dc2626;
  color: white;
}

.destructive:hover:not(:disabled) {
  background-color: #b91c1c;
}

/* Sizes */
.sm {
  height: 32px;
  padding: 0 12px;
  font-size: 14px;
}

.md {
  height: 40px;
  padding: 0 16px;
  font-size: 16px;
}

.lg {
  height: 48px;
  padding: 0 24px;
  font-size: 18px;
}
